//- index.jade
extends ./layout_chat.jade

block title
	title Chat

block content
	#panel-start
		#panel-window-min
			#panel-content
				h1 Square
				form.insert-connect
					input(type='text', placeholder="Your username", autofocus="1", autocomplete='off', name="username")
					input(type='email', placeholder="Your mail" name="mail")
					button#connect Let's go !
	#menu.removed
			h2 Square
			h4 Channels 
			ul
				li # general
			br
			h4 Users 
			ul#users
	#content.removed
		ul#messages
		form#insert-text 
			input#m(type='text', autocomplete='off')