doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		block title
			title Default title
		link(rel='stylesheet', href='static/css/normalize.css')
		link(rel='stylesheet', href='static/css/app.css')
	body
		block content
		script(src='static/js/jquery.js')
		script(src='static/js/socketio.js')
		script(src='static/js/app.js')